@model TTIPApplication.Models.PLACE

@{
    ViewBag.Title = "Create";
}
<section class="create_img"></section>
    <section>
        <div class="container_test">
            <br>
            <br>
            <h2 class="text-center text-black"> <i class="fa fa-plus-circle fa-1x"></i> Create </h2>
            <hr class="divider my-4">
            <div class="card w-100">
                <br />
                <form>
                    <h2>  &nbsp; &nbsp;    Enter Review Information</h2>
                    <div class="form-group">
                        <label for="formGroupExampleInput"> &nbsp;   &nbsp; &nbsp; &nbsp; Place</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Place" style="margin-left: 35px;">
                        
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput"> &nbsp;   &nbsp; &nbsp; &nbsp;  Writer</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Writer" style="margin-left: 35px;">
                    </div>
                    <p> &nbsp;   &nbsp;  &nbsp; &nbsp; Category</p>
                    <select class="form-control" style="margin-left: 35px;">
                        <option>Select</option>
                    </select>
                    <div class="form-group">
                        <label for="exampleFormControlFile1"> &nbsp;   &nbsp; &nbsp; &nbsp;  Review image</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" style="margin-left: 35px;">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" style="margin-left: 35px;">Create</button>
                </form>
                <br />
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>

</section>