<!DOCTYPE html>
<html>
<head>


</head>

<body>
    <img src="bbq1.jpg" width="275" height="183"> <img src="bbq2.jpg" width="275" height="183"> <img src="bbq3.jpg" width="275" height="183">

    <form action="">
        <p id="name">Name</p>
        <p id="address">Address</p>
        <p id="information">Information</p>

        <hr>
        Review
        <input type="submit" value="submit">
    </form>
    <hr>
    <div style="overflow:scroll">
        <table>
            <tr>
                <td rowspan="3"><img src="bbq1.jpg" width="200" height="180"></td>
                <td>Writer : Woosung</td>
            </tr>
            <tr>
                <td>Date : 01/14/2020</td>
            </tr>
            <tr>
                <td>Comment : Good!</td>
            </tr>
        </table>
    </div>
</html>