@{
    ViewBag.Title = "Home Page";
}
    <div class="container-fluid">
        <div class="jumbotron">
            <div style="height : 250px;">
            </div>
            
        </div>
            
        <div class="container body-content">
            <div class="center-block">
                <div class="col-xs-2">
                    <select class="form-control">
                        <option value="city">CITY</option>
                        <option value="la">LA</option>
                        <option value="oxnard">OXNARD</option>
                        <option value="sm">SANTA MARIA</option>
                    </select>
                </div>
                <div class="col-xs-2">
                    <select class="form-control">
                        <option value="categori">CATEGORI</option>
                        <option value="restaurant">RESTAURANT</option>
                        <option value="hotel">HOTEL</option>
                        <option value="leisure">LEISURE</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" />
                </div>
                <div class="col-xs-2">
                    <input type="submit" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <strong>Recent Review</strong>
                </div>
                <div class="col-md-offset-0">
                    <button type="button" class="btn btn-link">more</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="~/image/img2.jpg" onerror="~/image/img7.jpg" height="300" width="300" />
                    <p>You can easily find a web hosting company </p>
                </div>
                <div class="col-md-4">
                    <img src="~/image/img3.jpg" onerror="~/image/img7.jpg" height="300" width="300" />
                    <p>You can easily find a web hosting company </p>
                </div>
                <div class="col-md-4">
                    <img src="~/image/img4.jpg" onerror="~/image/img7.jpg" height="300" width="300" />
                    <p>You can easily find a web hosting company </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img src="~/image/img5.jpg" onerror="~/image/img7.jpg" height="300" width="300" />
                    <p>You can easily find a web hosting company </p>
                </div>
                <div class="col-md-4">
                    <img src="~/image/img6.jpg" onerror="~/image/img7.jpg" height="300" width="300" />
                    <p>You can easily find a web hosting company </p>
                </div>
                <div class="col-md-4">
                    <img src="~/image/img8.jpg" onerror="~/image/img7.jpg" height="300" width="300" />
                    <p>You can easily find a web hosting company </p>
                </div>
            </div>
        </div>
    </div>