@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <img src="~/image/img2.jpg" onerror="~/image/img7.jpg" height="200" width="150" />
        <p>You can easily find a web hosting company </p>
    </div>
    <div class="col-md-4">
        <img src="~/image/img3.jpg" onerror="~/image/img7.jpg" height="200" width="150" />
        <p>You can easily find a web hosting company </p>
    </div>
    <div class="col-md-4">
        <img src="~/image/img4.jpg" onerror="~/image/img7.jpg" height="200" width="150" />
        <p>You can easily find a web hosting company </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/image/img5.jpg" onerror="~/image/img7.jpg" height="200" width="150" />
        <p>You can easily find a web hosting company </p>
    </div>
    <div class="col-md-4">
        <img src="~/image/img6.jpg" onerror="~/image/img7.jpg" height="200" width="150" />
        <p>You can easily find a web hosting company </p>
    </div>
    <div class="col-md-4">
        <img src="~/image/img8.jpg" onerror="~/image/img7.jpg" height="200" width="150" />
        <p>You can easily find a web hosting company </p>
    </div>
</div>

