@model TTIPApplication.Models.PLACE

@{
    ViewBag.Title = "Create";
}
<section class="create_img"></section>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2><div style="background-color:#676060">Create</div></h2>
            <h2>Places</h2>
            <div class="form-group">
                <label class="control-label col-md-2" for="STORE_NAME">STORE_NAME</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="STORE_NAME" name="STORE_NAME" type="text" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="STORE_NAME" data-valmsg-replace="true"></span>
                    </div>


                <div class="form-group">
                    <label class="control-label col-md-2" for="CITY">CITY</label>
                    <div class="col-md-10">
                        <select class="form-control" id="CITY" name="CITY"></select>
                        <span class="field-validation-valid text-danger" data-valmsg-for="CITY" data-valmsg-replace="true"></span>
                    </div>
                </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="category">category</label>
                <div class="col-md-10">
                    <select class="form-control" id="category" name="category"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="category" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="place_ex">place_ex</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="place_ex" name="place_ex" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="place_ex" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="file" name="upload_file">
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default">
                </div>
            </div>
        </div>
            </div>
    }
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
