<connectionStrings>
  <add name="TTIP_DB_1Entities" connectionString="metadata=res://*/Models.TTip.csdl|res://*/Models.TTip.ssdl|res://*/Models.TTip.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=TTIP_DB_1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>

<connectionStrings configSource="ConnectionStrings.config">
</connectionStrings>
