<connectionStrings>
  <add name="TTIP_DBEntities" connectionString="metadata=res://*/Models.TTIP_DB.csdl|res://*/Models.TTIP_DB.ssdl|res://*/Models.TTIP_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=TTIP_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>